<ng-template #content let-modal>
  <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Update invoice</h4>
  </div>
  <div class="modal-body">
      <p>Are you sure you want to update the password?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="modal.close('Cancel click')">Cancel</button>
      <button type="button" class="btn btn-primary" (click)="modal.close('Update click')">Update</button>
  </div>
</ng-template>

<div class="p-3 mb-2 bg-dark">
  <mat-card class="card">
    <form [formGroup]="form" (ngSubmit)="updatePassword(content)">
      <h3 class="center">Update Password</h3>
      <div class="mb-3">
        <label for="oldPassword" class="form-label">Old password*</label>
        <input type="password" class="form-control" id="oldPassword" minlength="6" matInput focus formControlName="oldPassword" required>
      </div>
        <div class="mb-3">
          <label for="newPassword1" class="form-label">New password*</label>
          <input type="password" class="form-control" id="newPassword1" minlength="6" matInput formControlName="newPassword1" required>
        </div>
        <div class="mb-3">
          <label for="newPassword2" class="form-label">New password controller*</label>
          <input type="password" class="form-control" id="newPassword2" minlength="6" matInput formControlName="newPassword2" required>
        </div>
        <mat-chip-list>
          <mat-chip *ngIf="oldPasswordError" style="margin-top: 16px; color: red;">
            Old password do not match.
          </mat-chip>
          <mat-chip *ngIf="newPasswordsError" style="margin-top: 16px; color: red;">
            New passwords do not match.
          </mat-chip>
        </mat-chip-list>
        <div>
          <button type="submit" style="margin-top: 16px; margin-left: 20%; margin-right: 5%;" mat-raised-button color="primary" (click)="getUser()">Cancel</button>
          <button type="submit" style="margin-top: 16px; margin-left: 5%;" mat-raised-button color="primary">Update Password</button>
        </div>
    </form>  
  </mat-card>
</div>