<div class="p-3 mb-2 bg-dark margin">
    <mat-card class="card">
      <form *ngIf="!isLoggedIn" [formGroup]="form" (ngSubmit)="login()">
        <h3 class="center">Login</h3>
          <div class="mb-3">
            <label for="email" class="form-label">Email*</label> 
            <input type="email" class="form-control" id="email" matInput formControlName="email" required>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password*</label>
            <input type="password" class="form-control" id="password" matInput formControlName="password" required>
          </div>
          <mat-chip-list>
            <mat-chip *ngIf="loginError" style="margin-top: 16px; color: red;">
                Email address and password do not match.
            </mat-chip>
          </mat-chip-list>
          <div>
            <button type="submit" style="margin-top: 16px; margin-left: 40%; margin-right: 40%;" mat-raised-button color="primary" [disabled]="form.invalid">Login</button>
          </div>
      </form>  

      <div class="alert alert-success" *ngIf="isLoggedIn">
        <p *ngIf="role == 'ROLE_ADMIN'">Logged in as administrator.</p>
        <p *ngIf="role == 'ROLE_MANAGER'">Logged in as manager.</p>
        <p *ngIf="role == 'ROLE_FINANCIAL_CONTROLLER'">Logged in as financial controller.</p>
        <p *ngIf="role == 'ROLE_FINANCIAL_CLERK'">Logged in as financial clerk.</p>
      </div>
    </mat-card>

</div>