<ng-template #content let-modal>
  <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Update invoice</h4>
  </div>
  <div class="modal-body">
      <p>Are you sure you want to update the user?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="modal.close('Cancel click')">Cancel</button>
      <button type="button" class="btn btn-primary" (click)="modal.close('Update click')">Update</button>
  </div>
</ng-template>

<div class="p-3 mb-2 bg-dark">
  <mat-card class="card">
    <form [formGroup]="form" (ngSubmit)="updateUser(content)">
      <h3 class="center">Update User</h3>
        <div class="mb-3">
          <label for="companyId" class="form-label">Company Id*</label> 
          <input type="text" class="form-control" id="companyId" minlength="8" maxlength="8" value="{{user.companyId}}" matInput focus formControlName="companyId" required>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email*</label> 
          <input type="email" class="form-control" id="email" value="{{user.email}}" matInput focus formControlName="email" required>
        </div>
        <div class="mb-3">
          <label for="firstName" class="form-label">Firstname*</label>
          <input type="text" class="form-control" id="firstName" value="{{user.firstName}}" matInput focus formControlName="firstName" required>
        </div>
        <div class="mb-3">
          <label for="lastName" class="form-label">Lastname*</label>
          <input type="text" class="form-control" id="lastName" value="{{user.lastName}}" matInput focus formControlName="lastName" required>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password*</label>
          <input type="password" class="form-control" id="password" minlength="6" value="{{user.password}}" matInput focus formControlName="password" required>
        </div>
        <div class="mb-3">
          <label for="role" class="form-label">Role*</label>
            <select class="form-select" value="{{user.role}}" formControlName="role" required>
              <option value="ROLE_MANAGER">Manager</option>
              <option value="ROLE_FINANCIAL_CONTROLLER">Financial controller</option>
              <option value="ROLE_FINANCIAL_CLERK">Financial clerk</option>
              <option value="ROLE_ADMIN">Administrator</option>
            </select>
        </div>
        <div>
          <button type="submit" style="margin-top: 16px; margin-left: 30%; margin-right: 5%;" mat-raised-button color="primary" (click)="getUser()">Cancel</button>
          <button type="submit" style="margin-top: 16px; margin-left: 5%;" mat-raised-button color="primary">Update</button>
        </div>
    </form>  
  </mat-card>
</div>